### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Windows ###
Thumbs.db

### Flutter ###
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
generated_plugin_registrant.dart

### Android Studio / Gradle ###
.gradle/
**/build/
local.properties
*.iml

### iOS / macOS (Flutter) ###
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
macos/Flutter/Flutter.framework
macos/Flutter/Flutter.podspec

### Firebase & 인증 관련 ###
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
resources/
resources/google-services.json
src/main/resources/shcedule04-firebase-adminsdk-fbsvc-8bbf645746.json
src/main/resources/schedule-c3387-firebase-adminsdk-fbsvc-6ea856ffc6.json
*.keystore
*.jks
*.p12
*.pem

**/.gradle/
